/* backgrounds */
html,
body,
span.label,
table.list td.listheader,
table.list td.content table.indention td.treeMenu a.submenu_openlink,
div.page_content,
div.listdisplay.useChronicleCommentLayout table td.additionalContentCol.content,
div.listdisplay.useChronicleCommentLayout table td.commentCol.content,
div.listdisplay.useChronicleCommentLayout table tr.row.isVersion td.content.additionalContentCol,
div.listdisplay.useChronicleCommentLayout table tr.row.isVersion td.content.commentCol,
div.pn_workspace_mybcs,
div.submenu_layer {
  background-color: #333;
}

/* controls */
div.gridster .component_header_ListDisplay,
div.gridster .component_header_TreeDisplay,
div.permanent_settings td.selectionbar,
div.boardelement_content .settingsDialog_ListDisplay,
div.boardelement_content .settingsDialog_TreeDisplay,
div.gridster table.list td.columnset_header,
div.gridster table.list td.listheader,
div.gridster>ul>li,
div.token_container_jq,
.showAsTokens .relationCell>a.objectcontent,
.showAsTokens .relationCell>span,
div.token_jq,
table.list td.listheader:hover,
table.list td.listheader:hover div,
table.list td.content table.indention td.treeMenu a.submenu_openlink:hover,
table.list td.content table.indention td.treeMenu a.submenu_openlink:hover div,
table.pageTabsInner span.other,
table.pageTabsInner td.more,
table.boarddisplay_table td.boardelement,
.boarddisplay_table .component_header_ListDisplay,
.boarddisplay_table .component_header_TreeDisplay,
table.list tbody tr.row,
table.list tbody td.content,
table.boarddisplay_table table.list td.columnset_header,
table.boarddisplay_table table.list td.listheader,
table.list tbody tr.default td.content.today,
table.list tbody tr.JProject_operative td.content.today,
table.list tbody tr.JProject_project td.content.today,
td.today,
td.component_header_right a.default_button,
td.component_header_right a:not(.settings_visiblity_toggle):not(.settings_visiblity_toggle_on),
td.component_header_right button,
td.component_header_right button.CreateLinkFormButton,
td.component_header_right button:not(.settings_visiblity_toggle):not(.settings_visiblity_toggle_on),
.filterEntryRow>td,
td.calendar_events,
td.calendar_header_outofmonth,
tr.calendar_weekday td,
td.calendar_outofmonth.calendar_events,
td.calendar_outofmonth.toInformCell,
td.calendar_outofmonth.userTasksCell,
td.calendar_weekfiller,
span.calendarControlSeparator,
span.today,
input.button,
input.textfield {
  background-color: #222;
}

.calendar_table {
  background-color: #222 !important;
}

/* Controls Hover */
div.listdisplay table.list tbody tr.row.markRowAsSelected:hover>td.slider_cell,
div.listdisplay table.list tbody tr.row.markRowAsSelected:hover>td:not([rowspan]),
div.listdisplay table.list tbody tr.row:hover>td.slider_cell,
div.listdisplay table.list tbody tr.row:hover>td:not([rowspan]),
table.pageTabsInner:hover td.more,
td.component_header_right a.default_button:hover,
td.component_header_right a:not(.settings_visiblity_toggle):not(.settings_visiblity_toggle_on):hover,
td.component_header_right button:hover,
td.component_header_right button.CreateLinkFormButton:hover,
td.component_header_right button:not(.settings_visiblity_toggle):not(.settings_visiblity_toggle_on):hover,
input.button:hover,
.DurationAttribute.edit:hover,
.ExplicitChange_unchanged span.DurationAttribute.edit:hover,
.settingsAttributeLabelWithOperator:hover,
input:hover,
input.button:hover,
textarea:hover,
select:hover,
a.menuButton:hover,
.gs-resize-handle-both {
  background-color: #444;
}

/* Override impotant */
table.list td.listheader:hover,
table.list td.listheader:hover .listDisplayHeaderContainer,
table.pageTabsInner span.other:hover,
table.pageTabsInner span.current:hover {
  background-color: #444 !important;
}

tr.row>.ticket_communication_version .displaylabel {
  color: #888;
}

/* Selected */
div.listdisplay table.list tbody tr.markRowAsSelected td.blueMarkRow,
div.token_focus_jq {
  background-color: #44445a !important;
  border-color: #666;
}

/* Fields */
.DurationAttribute.edit,
.ExplicitChange_unchanged span.DurationAttribute.edit,
.settingsAttributeLabelWithOperator,
table.pageTabsInner span.other,
table.pageTabsInner span.current,
input,
input.button,
textarea,
select,
a.menuButton {
  background-color: #222;
  color: #aaa;
}

/* text */
html,
body,
table,
span,
table.pageTabsInner td.currentPageTab_jq a,
table.pageTabsInner td.inactivePageTab_jq a,
.ExplicitChange_unchanged span.DurationAttribute.edit span,
.footer_menu_bar div.footer_menu_label,
.alternativeFieldSetLayout .component_header .submenu_openlink>.title,
.alternativeFieldSetLayout .component_header .title.NoMenu,
.autosuggestion .fieldset_legend,
td.componenttitle,
td.fieldset_legend,
.alternativeFieldSetLayout .attributeRowContainer .attributeLabelContainer,
.jexlContextAttributeHeader,
div.settingselector>a.submenu_openlink:hover span.title,
div.component_header span.title,
span.allowanceTitle,
span.pageTitle,
div.entitypathtitle_entity span,
td.component_header_right a.default_button,
td.component_header_right a:not(.settings_visiblity_toggle):not(.settings_visiblity_toggle_on),
td.component_header_right button,
td.component_header_right button.CreateLinkFormButton,
td.component_header_right button:not(.settings_visiblity_toggle):not(.settings_visiblity_toggle_on),
.calendarcontrol_datedisplay,
div.permanent_settings td.selectionbar select,
td.selection_bar_attribute select,
tr.calendar_weekday td,
td.calendar_header_outofmonth a.event,
td.calendar_header a.event,
.calendar_weekfiller a,
.list_footer_legend,
td.list_footer_legend {
  color: #bbb;
}

td.calendar_header_today a.event,
td.calendar_header_today a.event_sunday {
  color: #444 !important;
}

/* borders */
table.list td.content,
table.list td.columnset_header,
table.list td.listheader,
td.editheader,
table.list td.listheader,
table.list td.content table.indention td.treeMenu a.submenu_openlink,
table.list>tbody>tr:last-child>td.content,
div.listdisplay.useChronicleCommentLayout td.leftGreenTimeline>.objectimageattributedisplay,
div.listdisplay.useChronicleCommentLayout td.leftGreenTimeline>a,
div.listdisplay.useChronicleCommentLayout td.rightBlueTimeline>.objectimageattributedisplay,
div.listdisplay.useChronicleCommentLayout td.rightBlueTimeline>a,
table.pageTabsInner span.other,
table.pageTabsInner td.more,
table.list>tbody>tr:last-child>td.content,
td.calendar_events,
td.calendar_header_outofmonth,
tr.calendar_weekday td,
td.calendar_outofmonth.calendar_events,
td.calendar_outofmonth.toInformCell,
td.calendar_outofmonth.userTasksCell,
td.calendar_header,
td.calendar_weekfiller {
  border-color: #666;
}

div.global_menu a.metanavigation_bookmark,
div.global_menu a.metanavigation_help,
div.global_menu div.stopwatchcontainer,
div.global_menu a.metanavigation_user {
  border-color: #333;
}

/* remove image highlights */
div.listdisplay.useChronicleCommentLayout table td.rightBlueTimeline.content.newTicketLayoutVersionsObjectImage::before,
div.listdisplay.useChronicleCommentLayout table tr.row.isVersion td.rightBlueTimeline.content.newTicketLayoutVersionsObjectImage::before,
td.component_header_right a.default_button,
td.component_header_right a:not(.settings_visiblity_toggle):not(.settings_visiblity_toggle_on),
td.component_header_right button,
td.component_header_right button.CreateLinkFormButton,
td.component_header_right button:not(.settings_visiblity_toggle):not(.settings_visiblity_toggle_on),
table.pageTabsInner td span.other span.fading,
table.pageTabsInner td span.current span.fading,
input.button {
  background-image: none;
}

/* Override impotant */
.fixedNavigationWrapper_style a.alternativeActionSubMenuLink,
td.component_header_right a.alternativeActionSubMenuLink,
td.component_header_right a.alternativeSubMenuLink,
table.pageTabsInner span.other:hover span.fading {
  background-image: none !important;
}

div.listdisplay.useChronicleCommentLayout .commentMenu a.submenu_openlink,
a.showConsultationRequestsButton span {
  color: transparent;
}

/* highlights */
ins {
  border: 1px solid rgb(40, 190, 40);
}

.noChanges>span,
.structuralChanges>span,
ins {
  background-color: rgba(80, 250, 83, 0.1);
  color: #9cd09c;
}

a {
  color: #42b0f6;
}

a:hover {
  color: #1280c6;
}

/* animations */
table.list td.listheader:hover,
table.list td.listheader:hover .listDisplayHeaderContainer {
  transition: background-color 0.1s;
}